*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
}
/* hero-section start */
.hero-container{
    display: flex;
    justify-content: center;
    height: 850px;
    width: 1920px;
    background-color: #fceef1;
    padding: 0 240px;
}
.hero-details{
width: 708px;
height: 288px;
margin-top: 197px;
}
.hero-details h1{
color: rgb(39, 39, 39);
font-size: 80px;
font-weight: 800;
margin-bottom: 32px;
}
.hero-details p{
color: rgba(39, 39, 39, 0.6);
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-bottom: 32px;
margin-top: 0px;
}
.hero-details button{
padding: 20px 43px 20px 43px;
border-radius: 8px;
background: rgb(229, 84, 115);
border: none;
color: rgb(255, 255, 255);
font-size: 20px;
}
.hero-img{
width: 635px;
height: 800px;
margin-top: 50px;
margin-left: 97px;
}
.hero-img img{
width: 100%;
height: 100%;
}
/* hero-section close */
/* flower section start */
.flower{
    height: 850px;
    width: 1920px;
    margin-top: 128px;
    
    text-align: center;
    margin-bottom: 128px;
}


.flower-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 32px;
  
    
}
.flower-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
width: 464px;
height: 605px;
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);

}
.flower-box img{
width: 310px;
height: 428px;
margin-left: 76px;
margin-top: 176px;
}
.box-1{
    background: rgba(5, 151, 160, 0.15);
}

.box-2{
    background: rgba(71, 125, 17, 0.15);
}
.img-1{
width: 370px;
height: 370px;
margin-bottom: 51px;
}
.img-2{
 width: 314px;
height: 471px;
}
.flower h1{
color: rgb(39, 39, 39);
font-size: 40px;
font-weight: 800;
margin-bottom: 24px;

}
.flower p{
color: rgba(39, 39, 39, 0.6);
font-size: 18px;
font-weight: 400;
margin-bottom: 48px;
}
.flower-tree{
    display: flex;
    justify-content: space-evenly;
    
}


.flower-box a{
    text-decoration: none;
    color: rgb(39, 39, 39);
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 50px;
}
.box-1 a{
margin-top:125px ;
}

/* flower section close */
/* support section start */

.support{
    display: flex;
    width: 1440px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    justify-content: center;
    align-items: center;
    gap: 100px;
    text-align: center;
}
.delivery{
    height: 350px;
    width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 128px;
}
.support-title{
color: rgba(39, 39, 39, 0.8);
font-size: 24px;
font-weight: 600;
margin-top:24px ;
}

/* support section close */





























/* support section small responsive start */
@media screen and (max-width:576px) {
    .delivery{
        height: auto;
        width: auto;
        justify-content: left;
        align-items: flex-start;
        padding: 30px;
        
       
        }
        .support {
            flex-direction: column;
            width:auto;
            height: auto;
            margin-bottom: 20px;


            text-align: center;
        }
}

@media screen and (min-width:576px) and (max-width:992px) {
    .delivery{
        height: auto;
        width: auto;
        justify-content: center;
        align-items:center;
        padding: 30px;
        
       
        }
        .support {
         
            width:700px;
            height: auto;
           
        }
}
/* support section small responsive start */

/* hero-section responsive for small device start */
@media screen and (max-width:576px){
    .hero-container{
        flex-direction: column;
        height: auto;
        width: auto;
        padding: 5px 10px;
    }  
    .hero-details h1{
        color: rgb(39, 39, 39);
        font-size: 40px;
        font-weight: 800;
        width: 100%;
        }
        .hero-details {
            width: auto;
            height: auto;
            align-items: center;
            margin-top: 0px;
            margin-bottom: 50px;
        }
        .hero-img {
            width: auto;
            height: auto;
            margin-top: 60px;
            margin-left: 10px;
        }
}
/* hero-section responsive for small device close */
/* hero-section responsive for medium device start */

@media screen and (min-width:576px) and (max-width:992px){
    .hero-container {
        flex-direction: column;
        height: auto;
        width: auto;
        padding: 10px 20px;
    }
    .hero-details {
        margin-bottom: 100px;
    
      
    }
    .hero-img {
        width: auto;
        height: auto;
        margin-top: 50px;
        margin-left: 20px;
    }
    .hero-img img {
        width: 100%;
        height: 100%;
        margin-top: 62px;
    }
}
/* hero-section responsive for large device start */
@media screen and (min-width:992px) and (max-width:1200px){
    .hero-container {
       
        height: auto;
        width: auto;
        padding: 10px 20px;
    }
}
/* hero-section responsive for large device close */
/* flower section small device responsive start */
@media screen and (max-width:576px){
    .flower {
        height:auto;
        width: auto;
    }
    .flower-container{
        flex-direction: column;
        gap:148px;
    }
    .flower-box {
    
        width: 364px;
        height: 427px;
    }
   
        .flower-box img {
            width: 280px;
            height: 472px;
            margin-left: 50px;
            margin-top: 91px;
        }
    
    .img-1{
        width: auto;
        height: auto;
      
        }
        .img-2{
            width: auto;
           height: 200px;
           }

}
/* flower section small device  responsive close */
/* flower section medium device  responsive start */

@media screen and (min-width:576px) and (max-width:992px){
    .flower {
        height:auto;
        width: auto;
    }
    .flower-container{
        flex-direction: column;
        gap:148px;
    }
    .flower-box {
    
        width: 500px;
        height: 550px;
        margin-top: 50px;
        margin: 0 auto;
    }
   
        .flower-box img {
            width: 280px;
            height: 472px;
            margin-left: 100px;
            margin-top: 248px;
        }
    
    .img-1{
        width: auto;
        height: auto;
      
        }
        .img-2{
            width: auto;
           height: 200px;
           margin-top: 100px;
           }

}